<div class="box center padding-top">
  <h2 class="purple">New Track</h2>
  <%= render 'shared/errors' %>
  <form class="form-width padding-top flex columns" action="<%= tracks_url %>" method="POST">
    <%= auth_token %>
    <div class="flex space-between margin-bottom align-center">
      <label for="band_id">Albumn</label>
      <select id="band_id" name="track[albumn_id]">
        <option disabled>--- Please select the albumn ---</option>
        <%@albumns.each do |albumn|%>
          <option <%= (albumn.id == @albumn.id ) ? "selected" : ""%> value="<%= albumn.id %>"><%= albumn.title%></option>
        <%end%>
      </select>
    </div>
    <div class="flex space-between margin-bottom align-center">
      <label for="track_title">Title</label>
      <input type="text" name="track[title]" id="track_title">
    </div>
    <div class="flex space-between margin-bottom align-center">
      <label for="track_ord">Order</label>
      <input type="number" name="track[ord]" id="track_ord">
    </div>
    <div class="flex space-between margin-bottom align-center">
      <input type="radio" id="is_bonus" name="track[is_bonus]" value="true" style="width:inherit;">
      <label for="is_bonus">This is a bonus track</label>
      <input type="radio" id="is_not_bonus" name="track[is_bonus]" value="false" style="width:inherit;" checked>
      <label for="is_not_bonus">This is a regular track</label>
    </div>
    <label for="track_lyrics"></label>
    <textarea id="track_lyrics" name="track[lyrics]" placeholder="Enter your lyrics here (optional)"></textarea>
    <input class="menu-link" type="submit" value="Add new track">
  </form>
  <a class="menu-link margin-top inline-block back-btn" href="<%= albumn_url(@albumn.id) %>">Back to <%= @albumn.title %></a>
</div>