<div class="flex">
  <div class="flex-grow">
    <h2>Public goals</h2>
    <ul class="goals">
      <% @public_goals.each do |goal| %>
        <a href="<%= goal_url(goal.id) %>">
          <li class="cb">
            <%= star %><%= goal.title %>
            <div class="fr date"><%= goal.created_at.strftime("%a %H:%M")%></div>
          </li>
        </a>
      <% end %>
    </ul>
  </div>

  <div class="flex-grow-sm">
    <h2>Users</h2>
    <ul class="users">
      <% @users.each do |user| %>
        <a href="<%= user_url(user.id) %>"><li><%= user.email %></li></a>
      <% end %>
    </ul>
  </div>
</div>

<% if logged_in? %>
  <div class="mt">
    <a class="link" href="<%= new_goal_url %>">New goal</a>
  </div>
<% end %>