<h2>New comment on this goal</h2>
<%= render 'shared/errors' %>

<form action="<%= goal_comments_url %>" method="POST">
  <%= auth_token %>

  <div>
    <label for="for_goal">For goal</label><br>
    <select class="mt" id="for_goal" name="goal_comment[goal_id]">
      <option disabled>--- Please select a user ---</option>
      <%@goals.each do |goal|%>
        <option <%= (goal.id.to_s == params[:id].to_s ) ? "selected" : ""%> value="<%= goal.id %>"><%= goal.title%></option>
      <%end%>
    </select>
  </div>

    <div class="mt">
      <label for="goal_body">Body</label><br>
      <textarea class="mt" id="goal_body" name="goal_comment[body]"></textarea>
    </div>
  <input class="btn mt font-em" type="submit" value="Add comment on goal">
</form>
