<h5 class="big-title">Popular Posts</h5>

<div class="col col-2-3">
  <ul class="posts">
    <% @posts.each do |post| %>
      <li class="cf">
          <div class="flex-column voting">
            <div class="vote-count"><%= @post_and_votes[post] == nil ? "0" : @post_and_votes[post].value %></div>
            <div>
              <form class="inline-block" action="<%= upvote_post_url(post.id) %>" method="POST">
                <%= auth_token %>
                <input class="button bg-blue inline-block" type="submit" value="&#xf0aa;" />
              </form>
            </div>
            <div>
              <form class="inline-block" action="<%= downvote_post_url(post.id) %>" method="POST">
                <%= auth_token %>
                <input class="button bg-red inline-block" type="submit" value="&#xf0ab;" />
              </form>
            </div>
          </div>
          <div class="cf">
            <figure class="date"><%= post.updated_at.strftime("%a %H:%M")%></figure>
            <a class="post-title" href="<%= post_url(post.id) %>"><%= post.title %></a>
            <figure><a href="<%= user_url(post.author.id)%>"><%= post.author.email %></a></figure>
            <figure class="posted-in-forums">
              Posted in:
              <% post.subs.each_with_index do |sub, index| %>
                <a class="sub-url" href="<%= sub_url(sub) %>"><%= sub.title %></a><%= index != post.subs.length-1 ? "," : nil %>
              <% end %>
            </figure>
          </div>
        </a>
      </li>
    <% end %>
  </ul>
</div>
<div class="col col-1-3">
  <ul class="index subs">
    <h5 class="small-title">Popular Sub-Forums</h5>
    <% @subs.each do |sub| %>
      <li><a href="<%= sub_url(sub.id) %>"><%= sub.title %> </a></li>
    <% end %>
  </ul>
</div>