<h5 class="small-title">Popular Posts</h5>

<div class="col col-2-3">
  <ul class="posts">
    <% @posts.each do |post| %>
      <li class="cf">
          <figure class="date"><%= post.updated_at.strftime("%a %H:%M")%></figure>
          <a class="post-title" href="<%= post_url(post.id) %>"><%= post.title %></a>
          <figure><a href="<%= user_url(post.author.id)%>"><%= post.author.email %></a></figure>
          <figure class="posted-in-forums">
            Posted in:
            <% post.subs.each_with_index do |sub, index| %>
              <a class="sub-url" href="<%= sub_url(sub) %>"><%= sub.title %></a><%= index != post.subs.length-1 ? "," : nil %>
            <% end %>
          </figure>
        </a>
      </li>
    <% end %>
  </ul>
</div>
<div class="col col-1-3">
  <ul class="index subs">
    <h5 class="small-title">Popular Sub-Forums</h5>
    <% @subs.each do |sub| %>
      <li><a href="<%= sub_url(sub.id) %>"><%= sub.title %> </a></li>
    <% end %>
  </ul>
</div>