<h2><%= @post.title %> in <%= @post.sub.title %></h2>
<p>Link: <%= @post.url%> </p>
<p>Content: <%= @post.content %></p>

<% if @thumbnail != nil && @thumbnail.images != nil && @thumbnail.images.first != nil%>
  <img src="<%= @thumbnail.images.first.src.to_s%>">
<% end %>

<% if @post.author == current_user %>
  <a href="<%= edit_post_url(@post) %>">Edit your post</a>
  <form action="<%= post_url(@post.id) %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <%= auth_token %>
    <input type="hidden" value="delete" name="_method" />
    <input class="menu-link delete-band bg-red" type="submit" value="Delete post" />
  </form>
<% end %>