<!DOCTYPE html>
<html>
  <head>
    <title>SocialGoalsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if logged_in? %>
        <form style="float:right;" class="logout" action="<%= session_url %>" method="POST">
        <input type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">
        <input type="hidden" value="delete" name="_method" />
        <input type="submit" value="Logout" />
      </form>
      <a style="float:right;" href="<%= user_url(current_user) %>">My goals</a>
    <% end%>
    <a href="<%= goals_url %>">Public goals</a>
  </div>

    <%= yield %>
  </body>
</html>
