<div class="box center padding-top">
  <h2 class="purple">Edit band name</h2>
  <%= render 'shared/errors' %>
  <form class="form-width padding-top flex columns" action="<%= band_url(@band.id) %>" method="POST">
    <input type="hidden" name="_method" value="PATCH">
    <%= auth_token %>
    <div class="flex space-between margin-bottom align-center">
      <label for="band_name">Band Name</label>
      <input type="text" name="band[name]" id="band_name" value="<%= @band.name %>">
    </div>
    <input class="menu-link" type="submit" value="Update band">
  </form>
  <a class="menu-link margin-top inline-block back-btn" href="<%= band_url(@band.id) %>">Back to <%= @band.name %></a>
</div>