<h2>Edit <%= @sub.title %> Sub-forum</h2>

<div>
  <%= render 'shared/errors' %>
  <form action="<%= sub_url(@sub.id) %>" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <%= auth_token %>
    <div>
      <label for="sub_title">Title</label>
      <input type="text" name="sub[title]" id="sub_title" value="<%= @sub.title %>">
    </div>
   <div>
      <label for="sub_description">Description</label>
      <textarea name="sub[description]" id="sub_description"><%= @sub.description %></textarea>
    </div>
    <input type="submit" value="Edit this sub">
  </form>
</div>