<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <% if logged_in? %>
      <form class="logout" action="<%= session_url %>" method="POST">
        <input type="hidden"
            name="authenticity_token"
            value="<%= form_authenticity_token %>">
        <input type="hidden" value="delete" name="_method" />
        <input class="menu-link" type="submit" value="Logout" />
      </form>
    <% else %>
      <a href="<%= new_session_url %>">Login</a>
      <a href="<%= new_user_url %>">Signup</a>
    <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
