<div class="center padding-top">
  <div>
    <% if current_user != nil %>
      <a class="btn" href=<%= new_cat_url %>>Add a new cat &#x2b;</a>
      <a class="btn" href=<%= new_cat_rental_request_url %>>Add a new rental request &#x2b;</a>
    <% end %>
  </div>

  <div class="index-box">
    <%@cats.each do |cat|%>
      <div class="cat-box">
        <div style="padding:30px;">
          <h2 class="cat-title"><%=cat.name%></h2>
          <img class="img" src="<%= asset_path( 'kitten.jpg' ) %>">
          <div>
            <a class="btn" href=<%=edit_cat_url(cat.id)%>>Edit</a>
            <a class="btn" href=<%=cat_url(cat.id)%>>Show this cat</a>
            </div>
        </div>
      </div>
    <%end%>
  </div>
</div>