<h2>New comment on user</h2>
<%= render 'shared/errors' %>

<form class="mb" action="<%= user_comments_url %>" method="POST">
  <%= auth_token %>

  <div class="mt">
    <label for="for_user">For user</label><br>
    <select class="mt" id="for_user" name="user_comment[for_user_id]">
      <option disabled>--- Please select a user ---</option>
      <%@users.each do |user|%>
        <option <%= (user.id.to_s == params[:id].to_s ) ? "selected" : ""%> value="<%= user.id %>"><%= user.email%></option>
      <%end%>
    </select>
  </div>

    <div class="mt">
      <label for="comment_body">Body</label><br>
      <textarea class="mt" id="comment_body" name="user_comment[body]"></textarea>
    </div>
  <input class="btn mt font-em" type="submit" value="Add User Comment">
</form>
