<h1>Profile for: <%= @user.email %></h1>

<h2>Goals</h2>
<ul>
  <% @goals.each do |goal| %>
    <a href="<%= goal_url(goal.id) %>"><li><%= goal.is_public ? "Public" : "Private" %> | <%= goal.title %></li></a>
  <% end %>
</ul>

<h2>Profile Comments</h2>
<ul>
  <% @user_comments.each do |user_comment| %>
    <li>
      <%= user_comment.author.email %> | <%= user_comment.created_at.strftime("%a %H:%M") %> | <%= user_comment.body %>
      <% if user_comment.author == current_user %>
        <form action="<%= user_comment_url(user_comment.id) %>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <%= auth_token %>
          <input type="hidden" value="delete" name="_method" />
          <input type="submit" value="Delete comment" />
        </form>
      <% end %>
    </li>
  <% end %>
</ul>

<% if logged_in? %>
  <a href="<%= new_goal_url %>">New goal</a>
  <a href="<%= user_comment_user_url(@user.id) %>">Comment on user</a>
<% end %>